<!doctype html>
<html lang="en">

  <head>
    <title>Kimco Processors</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

    <!-- Local Project Resources -->
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/custom.js"></script>

  </head>

  <body>
      <style type="text/css">
        .popup{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: none;
        position: fixed;
        z-index: 101;
    background-color: #906019cb;
        }
        .cnt223{
        min-width: 600px;
        width: 600px;
        min-height: 150px;
        margin: 100px auto;
    background: rgba(234, 227, 200, 0.95);
        position: relative;
        z-index: 103;
        padding: 15px 35px;
        box-shadow: 0 2px 5px #000;
        }
        .cnt223 a{
        text-decoration: none;
        color: #d91900;
        font-weight: bold;
        display: contents;
        }
      .cnt223 h2{
          text-align: center;
      padding: 10px 0;
      }
        .cnt223 p{
        clear: both;
            color: #555555;
            /* text-align: justify; */
            font-size: 20px;
            font-family: sans-serif;
        }
        </style>
        <script type='text/javascript'>
        $(function(){
        var overlay = $('<div id="overlay"></div>');
        overlay.show();
        overlay.appendTo(document.body);
        $('.popup').show();
        $('.close').click(function(){
        $('.popup').hide();
        overlay.appendTo(document.body).remove();
        return false;
        });
        });
        </script>
  
        <div class='popup'>
        <div class='cnt223'>
        <h2>Kind Notice!</h2>
        <p>Welcome to the Kimcoprocessor Website.<br/>
        Kindly notice that the website is under contrcution, in case of any unexpected behavior or incompletness.</p>
        <br/>
        <a href='' class='close'>Proceed!</a>
        </div>
        </div>

      <div class="header_main">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="brand_logo">
                <a class="" href="#">
                  <img src="/assets/imgs/kimco-coffee-processors.png" class="d-inline-block align-top" alt="">
                </a>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-6">
                  <div class="sec_header top_icons">
                    <ul class="">
                      <li><a href="#" class=""><i class="la la-home"></i></a></li>
                      <li><a href="#" class=""><i class="la la-sign-in"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6">
                  <div class="sec_header top_menu">
                    <ul class="">
                      <li><a href="#" class="">Blog</a></li>
                      <li><a href="#" class="">In Media</a></li>
                      <li><a href="#" class="">Contacts</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>
                  <div class="navbar-collapse collapse  navbar_customization" id="navbarNavDropdown">
                    <ul class="navbar-nav" id="nav">
                      <li id="item1" class="nav-item active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Company <span class="caret"></span>
                        </a>
                        <div class="submenu dropdown-menu">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="submenu_ul">
                                <ul class="productlist">
                                  <li><a href="#" id="link0" class="list_link">What we do!</a></li>
                                  <li><a href="#" id="link1" class="list_link">Adress &amp; Contacts</a></li>
                                  <li><a href="#" id="link2" class="list_link">career</a></li>
                                  <li><a href="#" id="link3" class="list_link">Investment</a></li>
                                  <li><a href="#" id="link4" class="list_link">Research</a></li>
                                  <li><a href="#" id="link5" class="list_link">Business Plan</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="row">
                                <div id="boxlink0" class="hover_content"><p>We look into the unknown for a detailed service</p><a href="#" class="more_link">more</a></div>
                                <div id="boxlink1" class="hover_content"><p>This is simply the second</p></div>
                                <div id="boxlink2" class="hover_content"><p>And here you find the third</p></div>
                                <div id="boxlink3" class="hover_content"><p>And here you find the fourth</p></div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="img"><img alt="" src="/assets/imgs/biz-tech.jpg" /></div>
                                    <div class="img-caption">
                                      <p>We look into the unknown for a detailed service</p>
                                    </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="#">Websites</a></li>
                      <li><a href="#">Solutions</a></li>
                      <li><a href="#">Design</a></li>
                      <li><a href="#">Photography</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
