<div class="main_content">
        <div class="spacer20"></div>
        <div class=" intro_widget">
            <div  class="widget_title_lg">
            <h2>Kiwamirembe Coffee Processors</h2>
            </div>
          <div class="row">
            <div class="col-md-4">
              <div class="img-responsive widget_img" ><img class="img img-responsive" src="/assets/imgs/martha.png">
              </div>
              <div class="widget_caption"><span>Martha Nalubega Wandera  © photo neuweltuganda </span></div>
            </div>
            <div class="col-md-8">
              <div class="widget_text" >
                <p>Founded in 2017, KIMCO Processors is a social enterprise focused on promoting women inclusion and participation in coffee production at different value chains.</p>
                <p>By organizing farmers in groups, KIMCO works with communities in Lwengo district and greater Masaka region to improve farmers’ livelihoods through advocating for improved quality coffee production. Currently, KIMCO is actively working with four farmer groups in Lwengo district. Three out of the four groups are women groups. </p>
                        <p>In a special way KIMCO seeks to work with women at the bottom of the pyramid. A substantial number of women that KIMCO works with are widows, women affected by HIV/AIDS as well as youth that are out of employment. The main aim is to improve women’s incomes to enable them address financial challenges that they face at household level. KIMCO also works with over 50 individual coffee farmers and local traders in Lwengo district, an area that is well-known for producing high volumes of coffee, significantly contributing to Uganda’s GDP.</p>
              </div>
              <div class="widget_readmore" >
                <button class="btn" >Read More<i class="la la-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer20"></div>
        <div class=" intro_widget service_widgets_container">
          <div class="row">
            <div class="col-md-4 padding_bottom">
                <a href="#">
                  <div class="img-overlay">
                    <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                    <div class="project-overlay">
                      <h6>Advanced Equipment</h6>
                      <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                      </div>
                    </div>
                  </div>
                </a>                  
            </div>
            <div class="col-md-4 padding_bottom">
              <a href="#">
                <div class="img-overlay">
                  <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                  <div class="project-overlay">
                    <h6>Advanced Equipment</h6>
                    <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                    </div>
                  </div>
                </div>
              </a>            </div>
            <div class="col-md-4 padding_bottom">
              <a href="#">
                <div class="img-overlay">
                  <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                  <div class="project-overlay">
                    <h6>Advanced Equipment</h6>
                    <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                    </div>
                  </div>
                </div>
              </a>            </div>
            <div class="col-md-4 padding_bottom">
              <a href="#">
                <div class="img-overlay">
                  <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                  <div class="project-overlay">
                    <h6>Advanced Equipment</h6>
                    <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                    </div>
                  </div>
                </div>
              </a>            </div>
              <div class="col-md-4 padding_bottom">
              <a href="#">
                <div class="img-overlay">
                  <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                  <div class="project-overlay">
                    <h6>Advanced Equipment</h6>
                    <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                    </div>
                  </div>
                </div>
              </a>            </div>
              <div class="col-md-4 padding_bottom">
              <a href="#">
                <div class="img-overlay">
                  <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                  <div class="project-overlay">
                    <h6>Advanced Equipment</h6>
                    <div class="overflow_hidden" >
                      <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                    </div>
                  </div>
                </div>
              </a>            </div>
          </div>
        </div>
        <div class="spacer20"></div>
        <div class="intro_widget ">
          <div id="" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="case_img">
                  <img class="d-block w-100" src="/assets/imgs/s_slide.jpg" alt="First slide">
                </div>
                <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                  <h5>Micro Finance Support</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="case_img">
                  <img class="d-block w-100" src="/assets/imgs/s_slide_1.jpg" alt="Second slide">
                </div>
                <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                  <h5>This is the second case study</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                </div>
              </div>
                <div class="carousel-item">
                  <div class="case_img">
                    <img class="d-block w-100" src="/assets/imgs/s_slide_2.jpg" alt="Third slide">
                  </div>
                <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                  <h5>This is the third case study</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="spacer20"></div>
      </div>