
                <div class="sidebar_content">
                        <div class="spacer20"></div>
                        <div class="sidebar_widget">
                          <div  class="widget_title_lg">
                            <h2>Latest News!</h2>
                          </div>
                          <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Something else.</a><i class="la la-angle-right"></i></li>
                            <li><a href="#">Lorem ipsum is something else amet, consectetur adipiscing elit.</a><i class="la la-angle-right"></i></li>
                            <li><a href="#">Lorem felis tellus mollis orci, sed rhoncus elit. Something else.</a><i class="la la-angle-right"></i></li>
                            <li><a href="#">nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus</a><i class="la la-angle-right"></i></li>
                          </ul>
                        </div>
                        <div class="spacer20"></div>
                        <div class="sidebar_widget">
                          <h1>This is heading 1</h1>
                          <h2>This is heading 2</h2>
                          <h3>This is heading 3</h3>
                          <h4>This is heading 4</h4>
                          <h5>This is heading 5</h5>
                          <h6>This is heading 6</h6>
                        </div>
                        <div class="spacer20"></div>
                         <div class="sidebar_widget">
                         </div>
                        <div class="spacer20"></div>
                         <div class="sidebar_widget">
                          <video autostart="true" controls >
                              <source src="/assets/video/la-cedri promo video.mp4"  type="video/mp4" />
                              <object><img src="/public/assets/imgs/s_slide.jpg" alt="__TITLE__" title="" /></object>
                            </video>
                        </div>
                        <div class="spacer20"></div>
                      </div>