
                <div class="sidebar_content">
                  
                    <div class="spacer20"></div>
                    <div class="sidebar_widget">
                      <h3><i class="la la-bullseye"></i>Vision:</h3>
                      <p class="vision_mission">women’s economic empowerment through coffee production at the national and international level. </p>
                      <hr>
                      <h3><i class="la la-rocket"></i>Mission:</h3>
                      <p class="vision_mission">To increase household income by encouraging women participation in quality coffee production at different value chains among farming communities in Uganda.</p>
                    </div>

                    <div class="spacer20"></div>
                    <div class="sidebar_widget">
                      <div  class="widget_title_lg">
                        <h2>Core Activities</h2>
                      </div>
                      <ul>
                        <li><i class="la la-group"></i><a href="#">Organize women coffee farmers groups </a></li>
                        <li><i class="la la-plus"></i><a href="#">Provision of farm inputs</a></li>
                        <li><i class="la la-cart-plus"></i><a href="#">Secures high value market linkages</a></li>
                        <li><i class="la la-cogs"></i><a href="#">Coffee processing</a></li>
                        <li><i class="la la-money"></i><a href="#">Coffee trading</a></li>
                        <li><i class="la la-bank"></i><a href="#">KIMCO micro loan</a></li>
                        <li><i class="la la-graduation-cap"></i><a href="#">Farmer trainings</a></li>
                      </ul>
                    </div>
                        <!-- <div class="spacer20"></div>
                        <div class="sidebar_widget">
                          <div  class="widget_title_lg">
                            <h2>Core Activities</h2>
                          </div>
                          <ul>
                            <li><a href="#">Organize women coffee farmers groups </a><i class="la la-group"></i></li>
                            <li><a href="#">Provision of farm inputs</a><i class="la la-plus"></i></li>
                            <li><a href="#">Secures high value market linkages</a><i class="la la-cart-plus"></i></li>
                            <li><a href="#">Coffee processing</a><i class="la la-cogs"></i></li>
                            <li><a href="#">Coffee trading</a><i class="la la-money"></i></li>
                            <li><a href="#">KIMCO micro loan</a><i class="la la-bank"></i></li>
                            <li><a href="#">Farmer trainings</a><i class="la la-graduation-cap"></i></li>
                          </ul>
                        </div> -->

                        <div class="spacer20"></div>
                        <div class="sidebar_widget">
                          <h1>This is heading 1</h1>
                          <h2>This is heading 2</h2>
                          <h3>This is heading 3</h3>
                          <h4>This is heading 4</h4>
                          <h5>This is heading 5</h5>
                          <h6>This is heading 6</h6>
                        </div>
                        <div class="spacer20"></div>
                         <div class="sidebar_widget">
                         </div>
                        <div class="spacer20"></div>
                         <div class="sidebar_widget">
                          <video autostart="true" controls >
                              <source src="/assets/video/la-cedri promo video.mp4"  type="video/mp4" />
                              <object><img src="/public/assets/imgs/s_slide.jpg" alt="__TITLE__" title="" /></object>
                            </video>
                        </div>
                        <div class="spacer20"></div>
                      </div>