<!doctype html>
<html lang="en">

  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>

  <body>
    <div class="parent_container">
      <div class="body_main">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
              <div class="main_content">
                <div class="spacer20"></div>
                <div class=" intro_widget">
                    <div  class="widget_title_lg">
                    <h2>Introduction Title Heading </h2>
                    </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="img-responsive widget_img" ><img class="img img-responsive" src="/assets/imgs/martha.png">
                      </div>
                      <div class="widget_caption"><span>Photo text and  ©photo credit</span></div>
                    </div>
                    <div class="col-md-8">
                      <div class="widget_text" >
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                        <p>Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus </p>
                        <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. </p>
                      </div>
                      <div class="widget_readmore" >
                        <button class="btn" >Read More<i class="la la-arrow-circle-right"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="spacer20"></div>
                <div class=" intro_widget service_widgets_container">
                  <div class="row">
                    <div class="col-md-4 padding_bottom">
                        <a href="#">
                          <div class="img-overlay">
                            <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                            <div class="project-overlay">
                              <h6>Advanced Equipment</h6>
                              <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                              </div>
                            </div>
                          </div>
                        </a>                  
                    </div>
                    <div class="col-md-4 padding_bottom">
                      <a href="#">
                        <div class="img-overlay">
                          <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                          <div class="project-overlay">
                            <h6>Advanced Equipment</h6>
                            <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                            </div>
                          </div>
                        </div>
                      </a>            </div>
                    <div class="col-md-4 padding_bottom">
                      <a href="#">
                        <div class="img-overlay">
                          <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                          <div class="project-overlay">
                            <h6>Advanced Equipment</h6>
                            <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                            </div>
                          </div>
                        </div>
                      </a>            </div>
                    <div class="col-md-4 padding_bottom">
                      <a href="#">
                        <div class="img-overlay">
                          <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                          <div class="project-overlay">
                            <h6>Advanced Equipment</h6>
                            <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                            </div>
                          </div>
                        </div>
                      </a>            </div>
                      <div class="col-md-4 padding_bottom">
                      <a href="#">
                        <div class="img-overlay">
                          <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                          <div class="project-overlay">
                            <h6>Advanced Equipment</h6>
                            <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                            </div>
                          </div>
                        </div>
                      </a>            </div>
                      <div class="col-md-4 padding_bottom">
                      <a href="#">
                        <div class="img-overlay">
                          <img src="/assets/imgs/small_widget_placeholder.png" class="img-responsive"/>
                          <div class="project-overlay">
                            <h6>Advanced Equipment</h6>
                            <div class="overflow_hidden" >
                              <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
                            </div>
                          </div>
                        </div>
                      </a>            </div>
                  </div>
                </div>
                <div class="spacer20"></div>
                <div class="intro_widget ">
                  <div id="" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="case_img">
                          <img class="d-block w-100" src="/assets/imgs/s_slide.jpg" alt="First slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                          <h5>Micro Finance Support</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="case_img">
                          <img class="d-block w-100" src="/assets/imgs/s_slide_1.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                          <h5>This is the second case study</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                        </div>
                      </div>
                        <div class="carousel-item">
                          <div class="case_img">
                            <img class="d-block w-100" src="/assets/imgs/s_slide_2.jpg" alt="Third slide">
                          </div>
                        <div class="carousel-caption d-none d-md-block carousel_caption_custom">
                          <h5>This is the third case study</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor sit amet, nsectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="spacer20"></div>
              </div>
              </div>
            </div>
            <div class="col-md-4 sidebar_no_padding">
              <div class="sidebar_content">
                <div class="spacer20"></div>
                <div class="sidebar_widget">
                  <div  class="widget_title_lg">
                    <h2>Latest News!</h2>
                  </div>
                  <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Something else.</a><i class="la la-angle-right"></i></li>
                    <li><a href="#">Lorem ipsum is something else amet, consectetur adipiscing elit.</a><i class="la la-angle-right"></i></li>
                    <li><a href="#">Lorem felis tellus mollis orci, sed rhoncus elit. Something else.</a><i class="la la-angle-right"></i></li>
                    <li><a href="#">nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus</a><i class="la la-angle-right"></i></li>
                  </ul>
                </div>
                <div class="spacer20"></div>
                <div class="sidebar_widget">
                  <h1>This is heading 1</h1>
                  <h2>This is heading 2</h2>
                  <h3>This is heading 3</h3>
                  <h4>This is heading 4</h4>
                  <h5>This is heading 5</h5>
                  <h6>This is heading 6</h6>
                </div>
                <div class="spacer20"></div>
                 <div class="sidebar_widget">
                  <!-- <video autostart="true" controls autoplay>
                    <source src="/assets/video/la-cedri promo video.mp4"  type="video/mp4" />
                    <source src="__VIDEO__.OGV"  type="video/ogg" />
                    <object type="application/x-shockwave-flash" data="__FLASH__.SWF">
                      <param name="movie" value="__FLASH__.SWF" />
                      <param name="flashvars" value="controlbar=over&image=__POSTER__.JPG&file=__VIDEO__.MP4" />
                      <img src="/public/assets/imgs/s_slide.jpg" alt="__TITLE__"
                           title="No video playback capabilities, please download the video below" />
                    </object>
                  </video> -->
                 </div>
                <div class="spacer20"></div>
                 <div class="sidebar_widget">
                  <video autostart="true" controls >
                      <source src="/assets/video/la-cedri promo video.mp4"  type="video/mp4" />
                      <object><img src="/public/assets/imgs/s_slide.jpg" alt="__TITLE__" title="" /></object>
                    </video>
                </div>
                <div class="spacer20"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
///////////////////////////////////////////////
END OF MAIN CONTENT
-->

    <!-- Local Project Resources -->
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
  </body>

</html>
